* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* background-color: #191e2b; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  /* color: white; */
  text-align: center;
  font-weight: 600;
  margin: 10px;
  letter-spacing: -1px;
}

.tituloppal {
  font-size: 25px;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #30343f;
}

.botones-contenedor {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.boton {
  background-color: transparent;
  height: 36px;
  border: none;
  /* color: white; */
  padding: 0px 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  outline: 0;
  cursor: pointer;
}

/* ---  Modo Oscuro - Modo Claro  -----*/

/* .modo-oscuro */

.modo-oscuro header {
  background-color: #191e2b;
}

.modo-oscuro h1 {
  color: white;
}

.modo-oscuro .contenedor-ppal-editor {
  background-color: #30343f;
}

.modo-oscuro .boton {
  color: white;
}

.modo-oscuro .panel-aside {
  background-color: #252935;
}

.modo-oscuro .titulo-editor {
  color: white;
}

.modo-oscuro .titulo-ajuste {
  color: white;
}

.modo-oscuro .input-ajuste-url {
  background-color: #333843;
}

.modo-oscuro .select-modo {
  background-color: #393e49;
  color: white;
}

.modo-oscuro .titulo-categoria {
  color: white;
}

.modo-oscuro input[type="range"] {
  background-color: #5a5d68;
}

.modo-oscuro .boton-restablecer-filtros {
  color: white;
  background-color: #393e49;
}

/* modo-claro */

.modo-claro header {
  background-color: #e0e0e0;
}

.modo-claro h1 {
  color: black;
}

.modo-oscuro .contenedor-ppal-editor {
  background-color: #eeeeee;
}

.modo-claro .boton {
  color: black;
}

.modo-claro .panel-aside {
  background-color: #fafafa;
}

.modo-claro .titulo-editor {
  color: black;
}

.modo-claro .titulo-ajuste {
  color: black;
}

.modo-claro .input-ajuste-url {
  background-color: #e0e0e0;
}

.modo-claro .select-modo {
  background-color: #bdbdbd;
  color: black;
}

.modo-claro .titulo-categoria {
  color: black;
}

.modo-claro input[type="range"] {
  background-color: #5a5d68;
}

.modo-claro .boton-restablecer-filtros {
  color: white;
  background-color: #e0e0e0;
}

/* INICIO SECCION EDITOR DE MEME */

.contenedor-ppal-editor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background-color: #30343f; */
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  right: 0;
  box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);
}

.contenedor-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 90%;
  margin-top: 150px;
}

#img-meme {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagen-src {
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.caja-text-meme {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 50px;
  font-size: 20px;
  background-color: white;
  font-family: Impact;
}

.texto-top {
  color: black;
  font-size: 40px;
}

.contenedor-img {
  height: 300px;
  width: 100%;
  flex-grow: 1;
  background-size: cover;
}

.boton-descargar {
  background-color: green;
  height: 36px;
  border: none;
  color: white;
  padding: 0px 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  outline: 0;
  margin-top: 20px;
}
.icono-descargar {
  padding-right: 5px;
}

/* SECCION ASIDE */

.panel-aside {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;

  /* background-color: #252935; */
  padding: 15px;
  padding-top: 25px;
  justify-content: flex-end;
}
.boton-cerrar-panel {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  color: white;
  outline: 0;
  text-decoration: none;
  border: none;
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.panel-editor {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titulo-editor {
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

/*---- IMG PANEL - INPUT URL ----*/

.panel-fondo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.titulo-ajuste {
  /* color: white; */
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.input-ajuste-url {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
  /* background-color: #333843; */
  border-radius: 3px;
}

/*---- FONDO ----*/

.ajustes-panel {
  width: 100%;
  margin-bottom: 20px;
}

.color-modofusion {
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: center;
}

.panel-control-color {
  display: flex;
  width: 100%;
  margin-right: 10px;
}

.panel-control-color > input[type="color"] {
  display: flex;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 0;
  background-color: transparent;
}

.panel-control-blend {
  width: 50%;
}

.select-modo {
  border: 0;
  border-radius: 4px;
  height: 33px;
  width: 100%;
  padding: 3px 5px;
  /* background-color: #393e49;
  color: white; */
  outline: 0;
}

/* FILTROS */

.panel-control {
  margin-bottom: 20px;
}

.panel-control-slider {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.titulo-categoria {
  /* color: white; */
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 100%;
  /* background-color: #5a5d68; */
  border-radius: 10px;
  appearance: none;
  height: 6px;
  margin-top: 10px;
}

.boton-restablecer-filtros {
  width: 45%;
  height: 36px;
  margin-top: 20px;
  /* color: white;
  background-color: #393e49; */
  border: none;
  font-size: 14px;
  padding: 0px 10px;
  outline: 0;
  align-items: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* PANEL TEXTO */

.area-texto {
  width: 100%;
  height: 36px;
  border-radius: 3px;
  border: none;
  background-color: #393e49;
}

textarea {
  color: white;
  font-size: 19px;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 10px;
}

.checkbox-style {
  color: white;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
}

.panel-editor-dos {
  margin-top: 20px;
}

.select-style {
  width: 100%;
  height: 33px;
  background-color: #393e49;
  border: 0;
  color: white;
  border-radius: 4px;
  padding: 5px 8px;
}
.contenedor-ajustes-fuente {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-botones {
  display: flex;
  width: 50%;
}

.input-font-size {
  margin-top: 5px;
  border-radius: 4px;
  background-color: #393e49;
  width: 50%;
  height: 36px;
  border: 0px;
  color: white;
  padding: 5px 10px;
}

.boton-fuente {
  height: 36px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #393e49;
  color: white;
  margin-top: 5px;
  border: 0;
  margin-left: 4px;
}

.alineacion-botones {
  width: calc(50% - 2.5px);
  justify-content: space-between;
}

.panel-ajustes-color {
  display: flex;
}

.color-hex {
  color: white;
  /* position: absolute; */
  left: 35px;
  top: 54%;
  transform: translateY(-50%);
  font-size: 14px;
}

.container-color {
  display: flex;
}

.panel-ajustes-color {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.contenedor-color-texto {
  width: 50%;
}

.color-input-text {
  height: 36px;
}

.color-input-font {
  height: 30px;
  width: 90%;
  border: 0;
  padding: 0;
  border-radius: 5px;
  color: white;
}

.color-input-font value {
  color: white;
}

.contenedor-color-fondo {
  width: 50%;
}

.color-input-fondo {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 3px;
  outline: none;
}

.container-color {
  display: flex;
  flex-direction: column;
}

.checkbox-container-color {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}

.input[type="checkbox"] {
  border: 0;
  background-color: transparent;
  outline: 0;
}

.checkbox-color-trasnsparente {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 3px;
  font-size: 12px;
  margin-left: 2px;
}

/* CONTORNO */

.container-contorno {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.contenedor-botones-contorno {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.boton-contorno {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #393e49;
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 5px;
}

/* ESPACIADO */

.conteiner-espaciado {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-espaciado {
  width: 100%;
  height: 36px;
  background-color: #393e49;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
}

/* ESPACIADO */

.contenedor-interlineado {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.interlineado-select {
  height: 36px;
  background-color: #393e49;
  color: white;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
}

.oculto {
  display: none;
}

/* MEDIA QUERIES */

@media (min-width: 700px) and (max-width: 850px) {
  .contenedor-meme {
    max-width: 80%;
    height: 500px;
  }
  .contenedor-img {
    height: 420px;
  }

  /* ASIDE */
}

@media (min-width: 851px) and (max-width: 3456px) {
  .contenedor-ppal-editor {
    display: flex;
    flex-direction: row;
    overflow: none;

    width: 100vw;
  }
  .contenedor-editor {
    width: 100%;
    height: 100vh;
    margin-top: 400px;
  }

  .contenedor-meme {
    width: 40%;
    height: 500px;
  }
  .contenedor-img {
    height: 420px;
  }
  .panel-aside {
    display: block;
    visibility: visible;
    width: 20%;
  }
  .boton-cerrar-panel {
    display: none;
  }
}
