* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #191e2b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  letter-spacing: -1px;
}

.tituloppal {
  font-size: 25px;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #30343f;
}

.botones-contenedor {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.boton {
  background-color: transparent;
  height: 36px;
  border: none;
  color: white;
  padding: 0px 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  outline: 0;
}

/* INICIO SECCION EDITOR DE MEME */

.contenedor-ppal-editor {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.contenedor-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 90%;
  margin-top: 150px;
}

.contenedor-meme {
  background-color: black;
  width: 100%;
  height: 355px;
  /* display: flex; */
  position: relative;
  flex-direction: column;
  text-align: center;
}

.caja-text-meme {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 50px;
  font-size: 20px;
  background-color: white;
  font-family: Impact;
}

.texto-top {
  color: black;
  font-size: 20px;
}

.contenedor-img {
  height: 300px;
  width: 100%;
  flex-grow: 1;
  background-size: cover;
}

.boton-descargar {
  background-color: green;
  height: 36px;
  border: none;
  color: white;
  padding: 0px 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  outline: 0;
  margin-top: 20px;
}
.icono-descargar {
  padding-right: 5px;
}

/* SECCION ASIDE */

.panel-editor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #252935;
}
.boton-cerrar-panel {
  display: flex;
  justify-content: end;
}

/* .panel {
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-panel);
  padding: 30px 15px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -10px 10px 100px 5px rgba(0, 0, 0, 0.3);
  z-index: 10 */
